* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(212, 179, 244);
    text-align: center;
    margin-top: 2rem;
}

.error {
    color: red;
  }

h1 {
    color: rgb(130, 8, 252);
    margin-bottom: 3rem;
}

button {
    background-color: blueviolet;
    color: white;
    padding: .5rem;
    font-size: medium;
}